@font-face {
  font-family: "icont"; /* Project id 1967253 */
  src: 
       
       
       url('@/static/icont/iconfont.ttf?t=1663480764897') format('truetype');
       
}

.icont {
  font-family: "icont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icont-zijin:before {
  content: "\e7cb";
}

.icont-shimingrenzheng:before {
  content: "\e66a";
}

.icont-shimingrenzheng1:before {
  content: "\e69a";
}

.icont-film-fill:before {
  content: "\e617";
}

.icont-videocamera2-line:before {
  content: "\e6dd";
}

.icont-film-line:before {
  content: "\e6a2";
}

.icont-camera-line:before {
  content: "\e620";
}

.icont-xiangji3:before {
  content: "\e622";
}

.icont-videocamera-fill:before {
  content: "\e6dc";
}

.icont-camera-fill:before {
  content: "\e631";
}

.icont-videocamera-line:before {
  content: "\e68d";
}

.icont-estate-line:before {
  content: "\e606";
}

.icont-exchange-line:before {
  content: "\e601";
}

.icont-planet-line:before {
  content: "\e74e";
}

.icont-fund-line:before {
  content: "\e6f1";
}

.icont-user-line:before {
  content: "\e64d";
}

.icont-language:before {
  content: "\e8fa";
}

.icont-telegram-line:before {
  content: "\e9ac";
}

.icont-home-fill:before {
  content: "\e619";
}

.icont-telegram-fill:before {
  content: "\eaf9";
}

.icont-web-line:before {
  content: "\eb8e";
}

.icont-order-buy:before {
  content: "\e660";
}

.icont-order-sell:before {
  content: "\e661";
}

.icont-coin-deposit:before {
  content: "\e9f2";
}

.icont-shop:before {
  content: "\e9f3";
}

.icont-coin-withdraw:before {
  content: "\e9f4";
}

.icont-coin-withdraw-fill:before {
  content: "\e9f7";
}

.icont-coin-deposit-fill:before {
  content: "\e9f9";
}

.icont-shop-fill:before {
  content: "\e9fa";
}

.icont-coin-deposit-linefill:before {
  content: "\ea00";
}

.icont-shop-linefill:before {
  content: "\ea02";
}

.icont-coin-withdraw-linefill:before {
  content: "\e9ff";
}

.icont-sell-out:before {
  content: "\e69c";
}

.icont-buy-in:before {
  content: "\e69d";
}

.icont-web-fill:before {
  content: "\e82d";
}

