@font-face {
  font-family: "icont-platform"; /* Project id 3654936 */
  src: url('iconfont.woff2?t=1663483474621') format('woff2'),
       url('iconfont.woff?t=1663483474621') format('woff'),
       url('iconfont.ttf?t=1663483474621') format('truetype');
}

.icont-platform {
  font-family: "icont-platform" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icont-platform-twitter-fill-circle:before {
  content: "\e6ee";
}

.icont-platform-twitter-line-circle:before {
  content: "\e6ef";
}

.icont-platform-twitter-fill:before {
  content: "\e79b";
}

.icont-platform-twitter-line:before {
  content: "\ece3";
}

.icont-platform-telegram-fill:before {
  content: "\eaf9";
}

.icont-platform-telegram-line:before {
  content: "\e9ac";
}

.icont-platform-web-line:before {
  content: "\eb8e";
}

.icont-platform-web-fill:before {
  content: "\e82d";
}

.icont-platform-ios-fill:before {
  content: "\e601";
}

.icont-platform-phone-fill:before {
  content: "\e604";
}

.icont-platform-ie-fill:before {
  content: "\e606";
}

.icont-platform-taobao-fill:before {
  content: "\e607";
}

.icont-platform-weibo-fill:before {
  content: "\e608";
}

.icont-platform-weixin-fill:before {
  content: "\e609";
}

.icont-platform-alipay-fill:before {
  content: "\e60a";
}

.icont-platform-qq-fill:before {
  content: "\e60b";
}

.icont-platform-android-fill:before {
  content: "\e64d";
}

